	h1 {text-align: center;} 
	h1 {color: white;} 
	p {color: white; background-color: yellow} 
	ul {color: white;} 
	ul {font-size: 20px} 
	body {background-color: green}
	img {src="pas_foto.jpg" width="400px" height="500px" style="display: block; margin: auto; border: dotted; display:block;}